.ShowReview
  .LeftColumn
    .Username
      = link_to "#{@review.user.username}", user_path(@review.user.id)
    .BookCover
      = image_tag "#{@review.image}", class: 'sImage'
      = link_to reviews_path do
        = icon('fas', 'arrow-alt-circle-left', class: 'Back')
  .RightColumn
    .Title
      = @review.title
    .Content
      = safe_join(@review.content.split("\n"),tag(:br))
    .Review

  -# .ImageHeader
  -#   = @review.user.name
  -#   = image_tag "#{@review.image}", class: 'sImage'
  -#   = link_to reviews_path do
  -#     = icon('fas', 'arrow-alt-circle-left', class: 'Back')
  -# .MainContent
  -#   .Title
  -#     = @review.title
  -#   .Content
  -#     = safe_join(@review.content.split("\n"),tag(:br))